<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
        <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-statuspage-index") %>>
        <a href="/docs/providers/statuspage/index.html">Statuspage Provider</a>
        </li>

        <li<%= sidebar_current("docs-statuspage-resource") %>>
        <a href="#">Resources</a>
        <ul class="nav nav-visible">
          <li<%= sidebar_current("docs-statuspage-resource") %>>
            <a href="/docs/providers/statuspage/r/statuspage_component.html">statuspage_component</a>
            <a href="/docs/providers/statuspage/r/statuspage_component_group.html">statuspage_component_group</a>
            <a href="/docs/providers/statuspage/r/statuspage_metrics.html">statuspage_metrics</a>
            <a href="/docs/providers/statuspage/r/statuspage_metrics_provider.html">statuspage_metrics_provider</a>
          </li>
        </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
  <% end %>